@import "../../../styles/_global.scss";

.main__header {
  background-color: $white_c;

  nav ul {
    gap: 29px;
  }

  nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dropdown {
    width: 190px;
    min-height: 80ppx;
    box-shadow: $primary_shadow;
    border-radius: 5px;
    text-align: left;
    top: calc(100% - 20%) !important;

    li:hover {
      background-color: $primary_c;
      border-radius: 5px;
      color: $white_c;

      button {
        width: 100%;
        text-align: left;
      }
    }
  }
}
