@import "../../../styles/_global.scss";
@import "../../../styles/_utils.scss";

.counter {
  p {
    @include regular_font;
    line-height: 24px;
    text-align: center;
  }

  .increment {
    padding: 0;
    &:hover svg path {
      fill: rgb(34, 118, 182);
    }
  }

  .decrement {
    padding: 0;
    &:hover svg path {
      fill: rgb(237, 44, 111);
    }
  }
}
