@import "../../styles/_global";
@import "../../styles/_utils";

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    @media ( max-width : $mobile-width ) {
        flex-direction: column;
        
    }

}
