@import "../../styles/_global";
@import "../../styles/_utils";

.selectedContactSection {
  .select_contact {
    max-width: 330px;
    padding: 15px;
    border-radius: 12px;
    background-color: hsl(0, 0%, 27%) !important;
    cursor: pointer;
    min-height: 124px;

    & .radio {
      width: 19px;
      height: 19px;
      border: 2px solid white;
      border-radius: 100%;
    }

    & .selected {
      width: 19px;
      height: 19px;
      border: 2px solid white;
      background: white;
      border-radius: 100%;
    }
  }

  .contactLabel {
    color: #fff;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    font-family: $f_poppins;
  }

  & .phone_number,
  address {
    @include regular_font;
    font-size: 11px;
    line-height: 14.3px;
  }

  @media (max-width: $mobile-width) {
    .modalButton {
      display: none;
      color: green;
    }

    .select_contact {
      max-width: 270px;
      min-height: 124px;
      border-radius: 12px;
      background-color: hsl(0, 0%, 27%) !important;
      cursor: pointer;

      .contactsHeadline {
        position: relative;
        width: 100%;
      }
    }
  }

  @media (max-width: $tablet-width) {
  }

  @media (max-width: $desktop-width) {
  }
}
