@import "../../styles/_global.scss";
@import "../../styles/_utils.scss";

.CheckoutList {
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 39px 0px #00000026;
  padding: 30px;
  border-radius: 10px;
  box-sizing: border-box;

  .heading {
    @include regular_font;
    color: $primary_c;
    margin: 0;
  }

  .pricing_wrapper {
    width: 12rem;
    margin-top: 18px;
    margin-inline-start: auto;
    .pricing {
      display: flex;
      justify-content: space-between;
      margin-block: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    .divider {
      width: 100%;
      height: 1px;
      background-color: #e8e8e8;
    }
  }
}
